.flash-box
  .notice グループを作成しました
.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name TEST
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            %a{:href => "/groups/new"}
              %i.fa.fa-edit
          %li.side-header__box__menu__edit-user
            %a{:href => "/users/522/edit"}
              %i.fa.fa-cog
    .groups
      %a{:href => "/groups/1237/messages"}
        .group
          %p.group__group-name sample-group1
          %p.group__latest-message Hello
      %a{:href => "/groups/1322/messages"}
        .group
          %p.group__group-name sample-group2
          %p.group__latest-message Goodbye
      %a{:href => "/groups/1118/messages"}


  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{"data-group_id" => "1237"}
          TEST
        %ul.main-header__left-box__member-list
          Member：
    
      %a{:href => "/groups/1237/edit"}
        .main-header__edit-btn Edit
    .messages
      .message{"data-message_id" => "2542"}
        .message__upper-info
          %p.message__upper-info__talker test-user
          %p.message__upper-info__date 2019/09/12(Thu) 21:34:55
        %p.message__text こんにちは！

    .form
      %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/1237/messages", :enctype => "multipart/form-data", :method => "post"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "GuWNrQohnonekAp+lblwXreIEdzzpvnYDALtUzD8TrntRkgb5SrcePwh2xLBzbnS2Q5UYs98gcHnKHT6SPuYRQ=="}/
        .input-box
          %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
          %label.input-box__image{:for => "message_image"}
            %i.fa.fa-image
            %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
        %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
