
$section-color:#38aef0;
$section-color2:#FFF;

html {
  color: #000;
  background: $section-color2;
}

* {
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

head {
  display: none;
}

body {
  display: block;
}

div {
  display: block;
}

li {
  display: list-item;
  text-align: match-parent;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flash-box {
  color: $section-color2;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;

  .notice {
    background-color: $section-color;
  }
}

.chat-side a {
  color: $section-color2;
}

.chat-main .main-header a:visited, .chat-main .main-header a:hover, .chat-main .main-header a:active {
  color: $section-color;
}


.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-edit:before, .fa-pencil-square-o:before {
  content: "\f044";
}

.fa-photo:before, .fa-image:before, .fa-picture-o:before {
  content: "\f03e";
}

.fa-gear:before, .fa-cog:before {
  content: "\f013";
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}


.chat-main{
  width: calc(100vw - 300px);
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;

    &__edit-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      color:$section-color;
      border: solid 1px $section-color;
      position: absolute;
      right: 40px;
    }

    &__left-box {
      margin-top: 35px;
    }

    &__left-box__current-group {
      font-size: 20px;
      color: #333;
      margin-bottom: 15px;
    }

    &__left-box__member-list {
      display: flex;
      font-size: 12px;
      color: #999999;
    }
  }

  .messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;

    .message__upper-info {
      display:flex;

      &__talker {
        color: #434a54;
        font-size: 16px;
        font-weight: bold;
      }
      &__date {
        color: #999999;
        font-size: 12px;
        margin-left: 10px;
      }
    }
    .message__text {
      color: #434a54;
      font-size: 14px;
      margin-top:10px;
      margin-bottom: 10px;
    }
  }

  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
  }

  .form form {
    display: flex;

    .input-box {
      position: relative;
      width: 100%;

      &__image {
        font-size: 1.3rem;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }

      &__image__file {
        display: none;
      }

      &__text {
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
    }

    .submit-btn {
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: $section-color;
      color: $section-color2;
      cursor: pointer;
    }
  }
} 

.chat-side{
  width: 300px;
  color: $section-color2;
  float: left;

  .side-header {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;

    &__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
    }

    &__box p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    
    &__box__menu {
      display: flex;
    }

    &_box__menu li {
      margin-left: 0.3rem;
    }
  }

  .side-header__box__menu__new-group{
    line-height:56px;
    padding-right:5px;
  }

  .side-header__box__menu__edit-user{
    line-height:56px;
  }

  .groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;

    .group__group-name {
      font-size: 15px;
      margin-bottom: 5px;
    }

    .group__latest-message {
      font-size: 11px;
    }
  }

  .group {
    margin-bottom: 40px;
  }

}

